.df {
  display: flex;
}
.dfc {
  display: flex;
  flex-direction: column;
}
.dfac {
  align-items: center;
}
.dfb {
  justify-content: space-between;
}

.pr {
  position: relative;
}
.tac {
  text-align: center;
}
.flex1 {
  flex: 1;
}
.m5 {
  margin: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.m010 {
  margin: 0 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}

.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p50 {
  padding: 5px 0;
}
.bd1 {
  border-bottom: 1px solid #eee;
}
.bd2 {
  border-bottom: 2px solid #eee;
}


.fontSize(@count) when (@count >= 10) {
  .f@{count} {
    font-size: (1px * @count);
  }
  .fontSize((@count - 1))
}

.fontSize(30);
